<div class="layer">

</div>
<div class="job-opening-container">
  <img src="assets/images/construction.png" alt="job-opening" class="img-responsive img-middle">
  <div style="position: absolute;top: 280px;z-index: -1;">
    <h1><b>Job opening - Under Construction</b></h1>
    <h4>We are working on this page, meanwhile please visit our Blogs, Expert Speak and look for yummy Kids Recipes</h4>
  </div>
  <img src="assets/images/job-op.png" alt="job-opening" class="img-responsive img-middle"
       style="margin-top: 100px;">
  <!-- <p style="margin-top: 50px;">
        Lorem ipsum is a placeholder text (filler text) in publishing and graphic design. It is used to demonstrate the graphics elements of a document, such as font, typography, and layout. ... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p> -->
</div>
<div class="clear">

</div>
